In [1]:
# load dependencies
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [2]:
# load datasets
dataset = pd.read_csv("/kaggle/input/credit-card-customers/BankChurners.csv")
dataset.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [3]:
# see all features
dataset.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [4]:
# remove mentioned features
dataset = dataset.iloc[:, 1:-2]
dataset.columns

Index(['Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count',
       'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category',
       'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')

In [5]:
# get general information
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  object
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  object
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  object
 5   Marital_Status            10127 non-null  object
 6   Income_Category           10127 non-null  object
 7   Card_Category             10127 non-null  object
 8   Months_on_book            10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Months_Inactive_12_mon    10127 non-null  int64
 11  Contacts_Count_12_mon     10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Trans_Amt           10127 non-null  int64
 17  Total_Trans_Ct            10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.5+ MB

In [6]:
# check for data absence & hangle it
dataset.isna().sum()

Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [7]:
# check duplicate data and hangle it
dataset.duplicated().sum()

0

In [8]:
# change datatype of feature to save some memory
clm_to_cnge_ctgory = [clm for clm in list(dataset.select_dtypes(include='object').columns) if dataset[clm].nunique() < 6]
dataset[clm_to_cnge_ctgory] = dataset[clm_to_cnge_ctgory].astype("category")

In [9]:
# get general information - again to see memory consumption
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  category
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  category
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  object
 5   Marital_Status            10127 non-null  category
 6   Income_Category           10127 non-null  object
 7   Card_Category             10127 non-null  category
 8   Months_on_book            10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Months_Inactive_12_mon    10127 non-null  int64
 11  Contacts_Count_12_mon     10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Trans_Amt           10127 non-null  int64
 17  Total_Trans_Ct            10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: category(4), float64(5), int64(9), object(2)
memory usage: 1.3+ MB

In [10]:
# manage categorical features
label_encoder_flag = LabelEncoder()
label_encoder_gender = LabelEncoder()
# dataset[['Attrition_Flag', 'Gender']] = 
dataset['Attrition_Flag'] = label_encoder_flag.fit_transform(dataset['Attrition_Flag'])
dataset['Gender'] = label_encoder_gender.fit_transform(dataset['Gender'])

In [11]:
one_encoder = OneHotEncoder(handle_unknown = 'ignore')
# dataset[['Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category']] = 
encoded_data = pd.DataFrame(one_encoder.fit_transform(dataset[['Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category']]).toarray(),
             columns = one_encoder.get_feature_names())

dataset = pd.concat([dataset, encoded_data], axis=1)

In [12]:
dataset.drop(['Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category'], inplace = True, axis = 1)

In [13]:
# dependent and independent features
x = dataset.iloc[:, 1:]
y = dataset.iloc[:, 0:1]

In [14]:
# split dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [15]:
# feature scaling
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [16]:
# build ann
ann = tf.keras.models.Sequential()
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))
ann.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

2023-02-11 11:46:29.018944: I tensorflow/core/common_runtime/process_util.cc:146] Creating new thread pool with default inter op setting: 2. Tune using inter_op_parallelism_threads for best performance.

In [17]:
# compile and train
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
ann.fit(x_train, y_train, batch_size = 32, epochs = 10)

2023-02-11 11:46:29.207760: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/10
238/238 [==============================] - 1s 2ms/step - loss: 0.5152 - accuracy: 0.8063
Epoch 2/10
238/238 [==============================] - 0s 2ms/step - loss: 0.3662 - accuracy: 0.8446
Epoch 3/10
238/238 [==============================] - 0s 2ms/step - loss: 0.3000 - accuracy: 0.8837
Epoch 4/10
238/238 [==============================] - 0s 2ms/step - loss: 0.2701 - accuracy: 0.8970
Epoch 5/10
238/238 [==============================] - 0s 2ms/step - loss: 0.2558 - accuracy: 0.8995
Epoch 6/10
238/238 [==============================] - 0s 2ms/step - loss: 0.2468 - accuracy: 0.9027
Epoch 7/10
238/238 [==============================] - 0s 2ms/step - loss: 0.2400 - accuracy: 0.9035
Epoch 8/10
238/238 [==============================] - 0s 2ms/step - loss: 0.2335 - accuracy: 0.9095
Epoch 9/10
238/238 [==============================] - 0s 2ms/step - loss: 0.2280 - accuracy: 0.9111
Epoch 10/10
238/238 [==============================] - 0s 2ms/step - loss: 0.2225 - accuracy: 0.9135

In [18]:
# prediction 
y_pred = ann.predict(x_test)
y_pred = (y_pred > 0.5)
y_pred_df = pd.DataFrame(y_pred, columns = ['y_pred'])
y_pred_df = y_pred_df.y_pred.replace(True, 1).replace(False, 0)

In [19]:
# check confusion matrix and accuracy score
cm = confusion_matrix(y_test, y_pred_df)
print(cm)
accuracy_score(y_test, y_pred_df)

[[ 231  153]
 [  81 2067]]

0.9075829383886256